@import url('reset.css');
html,body{
	height: 100%;
	font-family: 'Roboto', sans-serif;
}
a {
  color: #00B7FF;
}
.mainMonitor{
    width: 100%;
    height: 95.01%;
    background: #313131;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}
.monitorSensores{
    width: 25%;
    height: 100%;
}
.monitorSenales{
    width: 75%;
    height: 100%;
}
.senal{
    border-bottom: 1px solid #979797;
    width: 100%;
    height: 7.1428%;
    box-sizing: border-box;
}
.sensores1{
    width: 100%;
    height: 28.5712%;
    box-sizing: border-box;
    border-bottom: 1px solid #979797;
    border-left: 1px solid #979797;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}
.sensores2{
    width: 100%;
    height: 21.4284%;
    box-sizing: border-box;
    border-bottom: 1px solid #979797;
    border-left: 1px solid #979797;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}
.sensores3{
    width: 100%;
    height: 21.4284%;
    box-sizing: border-box;
    border-left: 1px solid #979797;
    color: #48F3FF;
}
.punteroSensor{
    width: 50%;
    height: 100%;
		box-sizing: border-box;
}
.mBmp{
    border-right: 1px solid #979797;
    color: #60F979;
}
.mTemp{
     color: #FF5E53;
}
.sensorNombre{
    font-size: 3em;
    padding-top: 15px;
    box-sizing: border-box;
    display: block;
    text-align: center;
}
.sensorNumero{
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    font-size: 5.5em;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}
.oximetria{
    color: #E1F7D9;
}
.oximetriaNombre{
    font-size: 2.8em;
		padding-top: 15px;
		display: block;
		position: relative;
}
.oximetriaNivel{
    font-size: 5em;
		padding-top: 25px;
		display: block;
}
.presion{
    width: 33.333%;
    height: 100%;
}
.nombreNibp{
    width: 100%;
    height: 35%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    padding: 20px;
    box-sizing: border-box;
}
.nivelNibp{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 65%;
    font-size: 3em;
}
.presion{
    color:#A2A2F3;
}
.presion1{
    color:#A2A2F3;
    width: 50%;
    height: 100%;
}
.nombreMmhg{
    width: 100%;
    height: 35%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}
.nivelMmhg{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}
.co2{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.co21{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.nombreCO2{
    display: flex;
    width: 35%;
    height: 100%;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
}
.nivelC02{
    display: flex;
    width: 20%;
    height: 100%;
    align-items: center;
    padding-left: 5px;
}
/*

    ESTILOS PARA LA BARRA SCROLL DEL MONITOR HISTORIAL DE FRAPS.

*/
.mainSlider{
    font: 10pt "Roboto", sans-serif;
    padding: 1% 3%;
		background-color: #eeeeee;
		position: relative;
		z-index: 1;
}
.headerSlider{
    font-size: 14pt;
    padding-bottom: 20px;
    color: blue;
}
.valor{
    display: block;
    padding: 10px;
}
.valor label{
    display: inline;
    padding-top: 10px;
    font-size: 14pt;
}
.btn{
    display: block;
    margin-top: 5px;
    font-size: 10pt;
}
